
body {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: "Nato Sans", sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-color: #6943ff;
    padding: 20px;
}

.number-input{
    height: 40px;
    width: 45px;
    background-color: #6943ff;
    border: 1.5px solid #b295ff ;
    border-radius: 5px;
}

button{
    background-color: white;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
    color: #3D3D3D;
}

.conversions {
    color: #3D3D3D;
    background-color: #F4F4F4;
    padding: 20px;

}

.conversions h3{
    color: #5A537B;
    padding: 20px;
    font-weight: normal;
}

.length-field, .volume-field, .mass-field{
    height: 6rem;
    background-color: white;
}
